@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
/* || VARIABLES */
:root {
  /* COLORS */
  --BRAND-COLOR: #ffc309;
}
/* || UTILITY CLASSES */
/* || GENERAL STYLES */
body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: "Open Sans";
  justify-content: center;
}
.outer-container {
  padding: 1vw;
}
.sign-in-heading-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
  min-width: 95vw;
}
.sign-in-heading-container h1 {
  color: white;
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  font-weight: 100;
  text-align: center;
}
.outer-container .sign-in-heading-container img {
  height: 80px;
  width: 100px;
}
.index-main {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
}
.sign-in-with-google-button {
  background-color: white;
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  max-width: 300px;
  padding: 1rem;
  width: 60vw;
}
.sign-in-with-google-button:hover {
  box-shadow: 1px 1px 25px grey;
}
.sign-in-with-google-button:focus {
  box-shadow: 1px 1px 25px grey;
}
.button-align {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.separator {
  color: grey;
  letter-spacing: 2px;
  max-width: 400px;
  text-align: center;
  width: 80vw;
  word-spacing: 4px;
}
.idPassword-container form,
.username-container,
.password-container {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
}
.idPassword-container form {
  gap: 10px;
}
.username-container,
.password-container {
  gap: 8px;
}
#password,
#username-email {
  border-radius: 10px;
  border-style: solid;
  font-family: "Open Sans";
  font-size: 1.1rem;
  height: 50px;
  max-width: 400px;
  padding-left: 1rem;
  width: 80vw;
}
#password:focus,
#username-email:focus {
  box-shadow: 1px 1px 25px grey;
}
.rememberMe-container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-between;
}
.rememberMe {
  color: hsl(0, 0%, 80%);
}
.rememberMe-forgotPass {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 400px;
  width: 80vw;
}
.rememberMe-forgotPass a {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}
.rememberMe-forgotPass a:visited {
  color: hsl(0, 0%, 80%);
}

.rememberMe-forgotPass a:focus {
  box-shadow: 1px 1px 25px grey;
  text-decoration: underline;
}
.rememberMe-forgotPass a:hover,
.rememberMe-forgotPass a:focus {
  text-decoration: underline solid var(--BRAND-COLOR);
}
.rememberMe-forgotPass a:active {
  box-shadow: none;
}
.signIn {
  background-color: var(--BRAND-COLOR);
  border-color: var(--BRAND-COLOR);
  border-radius: 8px;
  border-style: solid;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  max-width: 200px;
  padding: 1rem;
  width: 40vw;
}
.signIn:hover {
  box-shadow: 1px 1px 25px grey;
}
.signIn:focus {
  box-shadow: 1px 1px 25px grey;
}
.button-align {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.noAccount-container {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 10px;
  justify-content: space-between;
  max-width: 400px;
  width: 80vw;
}
.noAccount-container p {
  color: hsl(0, 0%, 80%);
}
.noAccount-container a {
  color: white;
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}
.noAccount-container a:hover,
.noAccount-container a:focus {
  text-decoration: underline solid var(--BRAND-COLOR);
}
/* ///////////////////////Forgot password page////////////////////////// */
.forgotPassword-outer-container {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
  padding: 10vh 10vw;
}
.forgotPassword-outer-container a img {
  align-self: center;
  box-sizing: content-box;
  display: block;
  height: 25px;
  padding: 5px;
  width: 25px;
}
@media screen and (min-width: 425px) {
  .forgotPassword-outer-container a img {
    display: none;
  }
}
.forgotPassword-h1 {
  width: 100%;
}
.forgotPassword-p {
  width: 100%;
  max-width: 500px;
}
.forgotPassword-outer-container form {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
  width: 100%;
}
.forgotPassword-email-label {
  font-size: 1.5rem;
}
#email {
  background-color: white;
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  color: black;
  font-size: 1rem;
  height: 8vh;
  max-height: 50px;
  width: 100%;
}
.forgotPassword-button {
  background-color: var(--BRAND-COLOR);
  border-color: var(--BRAND-COLOR);
  border-radius: 8px;
  border-style: solid;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  height: 8vh;
  max-height: 50px;
  width: 100%;
}
#email {
  font-family: "Open Sans";
  font-size: 1.1rem;
  padding-left: 1rem;
}
#email:focus,
#email:hover,
.forgotPassword-button:hover,
.forgotPassword-button:focus {
  box-shadow: 1px 1px 25px grey;
}
/* ////////////////////////////////SignUp page/////////////////////////////// */
.signUp-body-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-family: "Open Sans";
  justify-content: space-between;
}
.signUp-header-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100vh;
}
.logo-figure a {
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo-figure img {
  height: 40%;
  width: 40%;
}
.signUp-main-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2vw 6vw;
  row-gap: 22px;
}
.signUp-main-container h1 {
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .signUp-header-container {
    min-height: 17vh;
  }
  .logo-figure img {
    height: 30%;
    width: 30%;
  }
  .signUp-main-container h1 {
    font-size: 1.5rem;
  }
}
.signUp-with-button {
  background-color: white;
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  max-width: 300px;
  padding: 1rem;
  width: 60vw;
}
.signUp-button-align {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.button-text {
  width: 100%;
  text-align: center;
}
.signUp-with-button:hover {
  box-shadow: 1px 1px 25px grey;
}
.signUp-with-button:focus {
  box-shadow: 1px 1px 25px grey;
}
.signUp-bottom-container {
  align-items: center;
  color: grey;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
}
.signUp-agreement-container {
  width: 90vw;
  max-width: 400px;
}
.signUp-agreement-container a,
.signUp-agreement-container a:visited,
.signUp-bottom-container a:visited,
.signUp-bottom-container a {
  color: grey;
}
/* ///////////////////////////////////////Sign up form page///////////////////////////////////////////// */
.formStep1-body-container {
  /* outline: 6px dotted green; */
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Open Sans";
  gap: 10px;
  justify-content: flex-start;
}
.formStep1-header {
  width: 100%;
}
.formStep1-icon-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 1rem;
  outline: 2px dashed black;
}
.formStep1-icon-container img {
  display: block;
}
.formStep1-icon-container a .brandLogo {
  height: 80px;
  width: 100px;
}
.formStep1-icon-container a .backIcon {
  height: 25px;
  width: 25px;
}
.formStep1-progress-container {
  width: 100%;
}
.formStep1-steps-nav {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.step {
  align-items: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  display: flex;
  flex-flow: column nowrap;
  flex-flow: column nowrap;
  height: 60px;
  justify-content: center;
  justify-content: center;
  outline: 3px solid var(--BRAND-COLOR);
  width: 60px;
}
.step-circle {
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 1rem;
  height: 30px;
  text-align: center;
  width: 30px;
}
.step .step-name {
  font-size: 0.8rem;
}
.step-activated {
  background-color: var(--BRAND-COLOR);
  border-color: var(--BRAND-COLOR);
  box-shadow: 0px 4px 12px grey;
  color: black;
  font-weight: 900;
}
.formStep1-container {
  /* outline: 3px solid purple; */
  /* padding:1rem; */
  /* width: 95vw; */
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
.formStep1-container form {
  /* outline: 3px dotted yellow; */
  /* row-gap: 20px; */
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 10vw;
  width: 95vw;
}
.formStep1-email {
  /* outline: 2px dashed red; */
  height: 50px;
  padding: 1rem 1rem 1rem 0rem;
  width: 100%;
}
#formStep1-email-input {
  /* outline: 2px dashed red; */
  font-size: 1rem;
  height: 50px;
  padding: 1rem;
  width: 100%;
}
.formStep1-phone {
  /* outline: 2px dashed red; */
  height: 50px;
  padding: 1rem 1rem 1rem 0rem;
  width: 100%;
}
#phone {
  /* outline: 2px dashed red; */
  font-size: 1rem;
  height: 50px;
  padding: 1rem;
  width: 100%;
}
.formStep1-button-container {
  /* outline: 2px dashed yellow; */
  /* padding: 1rem; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.formStep1-button-container a .button {
  background-color: var(--BRAND-COLOR);
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  padding: 1rem 4rem;
  width: 100%;
}
/*Box-shadow style*/
.formStep1-button-container a .button:focus,
.formStep1-button-container a .button:hover,
#phone:hover,
#phone:focus,
#formStep1-email-input:hover,
#formStep1-email-input:focus {
  box-shadow: 1px 1px 25px grey;
}
.formStep1-button-container a {
  text-decoration: none;
  color: black;
}
.formStep1-button-container a:visited {
  color: black;
}
/* /////////////////////////////////CompleteSignUp page///////////////////////////////////////// */
.completeSignUp-container {
  background-color: black;
  background-image: radial-gradient(
    circle 200px at center,
    #ffc309 50%,
    black 50%
  );
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: auto;
}
