@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  font-family: "Open Sans";
  background-color: black;
  color: white;
  /* padding: 1%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.outer-container {
  padding: 1vw;
}
.sign-in-heading-container {
  min-width: 95vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}
.sign-in-heading-container h1 {
  text-align: center;
  font-weight: 100;
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
}

main {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;
}
.sign-in-with-google-button {
  color: black;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  width: 60vw;
  max-width: 300px;
}
.button-align {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.separator {
  word-spacing: 4px;
  letter-spacing: 2px;
  width: 80vw;
  text-align: center;
}
