@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*Notes*/
/* brand color: #ffc309; */
/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Open Sans";
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.outer-container {
  padding: 1vw;
}
.sign-in-heading-container {
  min-width: 95vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 1rem;
}
.sign-in-heading-container h1 {
  text-align: center;
  font-weight: 100;
  font-size: clamp(2rem, 3vw + 1rem, 3rem);
  color: white;
}

.index-main {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  gap: 40px;
}
.sign-in-with-google-button {
  color: black;
  background-color: white;
  font-size: 1rem;
  padding: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  width: 60vw;
  max-width: 300px;
  cursor: pointer;
}
.sign-in-with-google-button:hover {
  box-shadow: 1px 1px 25px grey;
}
.sign-in-with-google-button:focus {
  box-shadow: 1px 1px 25px grey;
}
.button-align {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.separator {
  word-spacing: 4px;
  letter-spacing: 2px;
  width: 80vw;
  max-width: 400px;
  text-align: center;
  color: grey;
}
.idPassword-container form,
.username-container,
.password-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.idPassword-container form {
  gap: 10px;
}
.username-container,
.password-container {
  gap: 8px;
}
#password,
#username-email {
  height: 50px;
  width: 80vw;
  max-width: 400px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 1rem;
  font-size: 1.1rem;
  font-family: "Open Sans";
}
#password:focus,
#username-email:focus {
  box-shadow: 1px 1px 25px grey;
}
.rememberMe-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}
.rememberMe {
  color: hsl(0, 0%, 80%);
}
.rememberMe-forgotPass {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 80vw;
  max-width: 400px;
}
.rememberMe-forgotPass a {
  color: hsl(0, 0%, 80%);
  text-decoration: none;
}
.rememberMe-forgotPass a:visited {
  color: hsl(0, 0%, 80%);
}

.rememberMe-forgotPass a:focus {
  box-shadow: 1px 1px 25px grey;
  text-decoration: underline;
}
.rememberMe-forgotPass a:hover,
.rememberMe-forgotPass a:focus {
  text-decoration: underline solid #ffc309;
}
.rememberMe-forgotPass a:active {
  box-shadow: none;
}
.signIn {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem;
  background-color: #ffc309;
  border-style: solid;
  border-color: #ffc309;
  border-radius: 8px;
  width: 40vw;
  max-width: 200px;
  cursor: pointer;
}
.signIn:hover {
  box-shadow: 1px 1px 25px grey;
}
.signIn:focus {
  box-shadow: 1px 1px 25px grey;
}
.button-align {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.noAccount-container {
  width: 80vw;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.noAccount-container p {
  color: hsl(0, 0%, 80%);
}
.noAccount-container a {
  color: white;
  font-family: "Open Sans";
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}
.noAccount-container a:hover,
.noAccount-container a:focus {
  text-decoration: underline solid #ffc309;
}
/* ///////////////////////Forgot password page////////////////////////// */
.forgotPassword-outer-container {
  padding: 10vh 10vw;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 40px;
}
.forgotPassword-outer-container a img {
  box-sizing: content-box;
  display: block;
  height: 25px;
  width: 25px;
  padding: 5px;
  align-self: center;
}
@media screen and (min-width: 425px) {
  .forgotPassword-outer-container a img {
    display: none;
  }
}
.forgotPassword-h1 {
  width: 100%;
}
.forgotPassword-p {
  width: 100%;
  max-width: 500px;
}
.forgotPassword-outer-container form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 30px;
}
.forgotPassword-email-label {
  font-size: 1.5rem;
}
#email {
  max-height: 50px;
  height: 8vh;
  width: 100%;
  color: black;
  background-color: white;
  font-size: 1rem;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
}
.forgotPassword-button {
  font-size: 1rem;
  color: black;
  background-color: #ffc309;
  max-height: 50px;
  height: 8vh;
  width: 100%;
  border-style: solid;
  border-color: #ffc309;
  border-radius: 8px;
  cursor: pointer;
}
#email {
  padding-left: 1rem;
  font-family: "Open Sans";
  font-size: 1.1rem;
}
#email:focus,
#email:hover,
.forgotPassword-button:hover,
.forgotPassword-button:focus {
  box-shadow: 1px 1px 25px grey;
}
/* ////////////////////////////////SignUp page/////////////////////////////// */
.signUp-body-container {
  font-family: "Open Sans";
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.signUp-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-height: 100vh;
}
.logo-figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-figure img {
  height: 40%;
  width: 40%;
}
.signUp-main-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 6vw;
}
@media screen and (max-width: 425px) {
  .signUp-header-container {
    min-height: 17vh;
  }
  .logo-figure img {
    height: 30%;
    width: 30%;
  }
}
